html,
body {
    height: 100%;
    width: 100%;
    background-color: #6951F0;
    color: white;
}

table {
    width: 100%;
    height: 100%;
    text-align: center;
}

.current-ticket {
    background-color: #282828;
}

.current-number-ticket {
    font-size: 80px;
}

.current-desktop-ticket {
    font-size: 45px;
}

.secondary-ticket {
    font-size: 25px;
}


#newTicketSpan {
    font-size: 70px;
}